body{
    background: url(https://i.pinimg.com/564x/3d/19/e7/3d19e7e9a7301f03a5665e1b4c43f857.jpg);
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

h5{
width: 100%;
text-transform: uppercase;
font-weight: bold;
color:black;
font-size: 15px;
}



.logo{
padding: 9px;
width: 200px;

}

ul li{
display: inline-block;
}

nav ul li a{

}
.imagen{
width: 40px;
}
.lista{
display: block;
}

.botones{
background-color:blanchedalmond;  
font-size: 25px;
text-align: center;
display: block;
padding:5px 5px 5px 5px;
text-decoration: none;
border-radius: 5px;
margin-top: 30px;
margin-bottom: 30px;
margin-left: 500px;
margin-right: 500px;
}

.botones:hover{
    color: blueviolet;
    background-color: pink;
}
